<!DOCTYPE html>
<head>
        <link rel= "icon" href='/img/weather.png'>
        <link rel="stylesheet" href='./css/styles.css'>

<body>
    {{>header}}
    
    <p>Page did not found 404</p>
    {{>footer}}
</body>

</head>